li {
  list-style: none;
}

.paper_title {
  margin: 0 auto;
  text-align: center;
  margin: 0.5em;
}

.keyword {
  border: 1px solid #f6e;
  border-radius: 4px;
  padding: 0.5em;
  background-color: #fee;
}

/* Insert margin only if there is a keyword right next to it. */
.keyword + .keyword {
  margin-left: 0.5em;
}

.search_box {
  display: block;
  margin: 0 auto;
  width: 250px;
  padding: 0.5em;
  font-size: 20px;
}
